body
{font-family: 'Montserrat', sans-serif;
      margin:0 auto;
      padding:0}
h1{font-weight:800;}

    /* header part start */
    
.container{
      margin: 90px;
      margin-top: 35px;
}
.top-banner{
      background-color: #161616;
      display: flex;
      border-radius: 30px;
      margin-bottom: 100px;
}
.top-banner-content{
      color: #ffffff;
      font-size: 25px;
      padding: 80px ;
      line-height: 50px;
}
.link-btn{
      background-color: #DD0000;
      color: #ffffff;
      padding: 20px 15px 20px 25px;
      font-size: 20px;
      border-radius: 8px;
      text-decoration: none;}
.fa-thin {font-size: 20px;}
.top-banner-img img{
      height: 560px;
      width: 100%;
}
/* header part end */

/* <!-- all match information start --> */

.all-infomation{
      background-color: #ffffff;
      display: flex;
      flex-grow: 1;
      align-items: stretch;
      margin-bottom: 30px;
}
.schedule-box{
     padding: 30px; 
      height: 250px;
     border-radius: 10px;
      background-color: #161616;
 }
 .box-content{
      display: flex;
      flex-direction: column;
    font-size: 23px;
    width: 210px;
    margin-left: 30px;
 }
 .box-content button{
      padding: 20px;
      margin-top: 10px;
      border-radius: 10px;
 }
 .box-content a{
      text-decoration: none;
      color: #111010;
      font-size: 15px;
 }
 #btn-design{
      background-color:#DD0000;
      color: aliceblue;
 }
.match-schedule{
     background-color:#ffffff;
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     gap: 10px;}
.box-card{
     border: 1px solid rgb(230, 224, 224);
     margin-left: 15px;
     /* padding: 40px; */
}
.flag-box{
      display: flex;
}
.flag-box p{
      padding: 15px;
}
#country{
      text-align: center;
}

/* <!-- all match information end --> */
.visibilite{
      text-align: center;
      font-size: 20px;
      margin-top: 20px;
      color: white;
      padding: 20px 25px 20px 25px;
      background-color: #DD0000;
      margin-left: 50%;
      text-decoration: none;
      visibility: hidden;
}
/* footer part start */
footer{
      background-color: #161616;
      padding: 70px;
      text-align: center;
      margin-bottom: 10px;
}
   footer h1{
      text-align: center;
      font-weight: 600;
      color: #ffffff;
      margin-bottom: 60px;
      font-size: 3rem;
   }
   hr{background-color: rgb(150, 144, 136);
       width: 100%;
      margin-left: 5%;}
      
      .foter-span{
            color: #ffffff;
            margin-top: 60px;
            color: rgb(202, 198, 198);
      }
      .foter-span span{
            padding: 40px;
            margin-top: 2px;
      }
      .social-icon{
            margin-top: 20px;
      }
      .social-icon a{
            color: rgb(219, 79, 79);
            font-size: 25px;
            padding: 10px;
 }
/* footer part end */

/* responsive for mobile start */

@media screen and (min-width:320px) and (max-width: 768px) {
      .top-banner{
        flex-direction:column;
      }
     .schedule-box{flex-direction: column;
      background-color: #ffffff;
      border-radius: 2px;
      align-items: center;
}
.match-schedule{width: 100%;text-align: center;}
.flag-box img{
      width: 100%;
}
.box-card{
      width: 100%;
}
.all-infomation{
      display: grid;
      grid-template-columns: 1fr;
}

.match-schedule{
      flex-direction: column;
      display: grid;
      align-items: center;
      grid-template-columns: repeat(1, 1fr);
}
   footer{
      margin-top: 80px;
     display: flex;
     flex-direction: column;
   }
   .foter-span{ display: flex;
      flex-direction: column;}
    }
/* responsive for mobile end */
/* responsive for tablet start */

@media screen and (min-width:769px) and (max-width:1023px) {
   
      .schedule-box{
            background-color: #ffffff;
      }
     .box-content{
      display: flex;
      flex-direction: row;
      width: 100%;
      margin-left: 5px;
     }
     .box-content button{
      width:100%;
      margin-left: 15px;
     }
     .all-infomation{display: flex;
      flex-direction: column;}

      .match-schedule{
            margin-bottom: 100px;
            display: grid;
            grid-template-columns: repeat(2,1fr);
      }
      .flag-box img{
            width: 100%;}
}
/* responsive for tablet end */